--extra-index-url https://download.pytorch.org/whl/cpu
vaderSentiment
fastapi
uvicorn
python-dotenv
transformers
torch==2.1.2+cpu
sentence-transformers
scikit-learn
numpy
requests
newspaper3k
lxml
lxml_html_clean
openai
